@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#corpoForm {
  margin-bottom: 20%;
  overflow: scroll;

}
#btnUpdate {
  display: none;
}

#erros {

  display: none;
}